// begin footer
footer.footer
	.container
		.footer-flex
			.footer-item
				img.logo-foot(src="../img/logo-footer.png", alt="")
			.footer-item
				.nav-head Навигация
				ul.nav
					li
						a(href="") Услуги
					li
						a(href="") Развлечения
					li
						a(href="") Мероприятия
					li
						a(href="") Цены
			footer-item
				.nav-head Важное
				ul.nav
					li
						a(href="") Правила техники безопасности
					li
						a(href="") Анкета джамера
					li
						a(href="") Согласие родителей
					li
						a(href="") Специальные тарифы
	.copy-wrap
		.container
			.copy Все права защищены или какой-то похожий текст 2016-2018 (с)
// end footer