extends layout/layout
append config
	- var pageTitle = 'main-page'

block main
	include includes/header.pug
	// begin section-entertainment
	section.section-entertainment
		.container
			.line-wrap
				.title Развлечения
				.subtitle чего у нас только нет...
			.tabs-wrap
				+b.tabs-caption
					+tabc('tc1.jpg', 'скалодром')
					+tabc('tc2.jpg', 'батутная<br>арена')
					+tabc('tc3.jpg', 'батутная<br>дорожка')
					+tabc('tc4.jpg', 'поролоновая<br>яма')
					+tabc('tc5.jpg', 'доджбол<br>арена')
					+tabc('tc6.jpg', 'баскетбол')
					+tabc('tc7.jpg', 'подушка<br>bag jump')
					+tabc('tc8.jpg', 'ninja<br>курсы')
					+tabc('tc9.jpg', 'профессиональные<br>батуты')
					+tabc('tc10.jpg', 'акробатическая<br>стенка')
				.row.tabs-content-wrap
					.tab-content
						.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-xxs-12.minspr0
							img.img-tab(src="../img/tab4.jpg", alt="")
						.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-xxs-12
							+b.content-tab
								+e.title Поролоновая <br>яма
								+e.P.text.
									Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
			.main-slider
				.main-slider-item
					img(src="../img/sl-1.jpg", alt="")
				.main-slider-item
					img(src="../img/sl-2.jpg", alt="")
				.main-slider-item
					img(src="../img/sl-3.jpg", alt="")
				.main-slider-item
					img(src="../img/sl-1.jpg", alt="")
				.main-slider-item
					img(src="../img/sl-2.jpg", alt="")
				.main-slider-item
					img(src="../img/sl-3.jpg", alt="")
	// end section-entertainment
	// begin section-video
	section.section-video
		.container
			.line-wrap
				.title Тур по центру
				.subtitle посмотрите и убедитесь, что у нас круто
			.center
				.video-wrap
					.button-play
					iframe(width='560', id="video" height='315', src='https://www.youtube.com/embed/GzVVwl93PCw?enablejsapi=1', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
	// end section-video
	// begin section-services
	section.section-services
		.container
			.tr-lg
			.line-wrap
				.title Услуги и мероприятия
				.subtitle какой-то текст как расшифрока раздела
			.row.wrap-services
				+serv(
					'img-1.jpg', 
					'Посещение скалодрома <br>4+',
					'Посещение <br>скалодрома',
					'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
				)
				+serv(
					'img-2.jpg', 
					'Свободные прыжки <br>0+',
					'Свободные <br>прыжки',
					'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
				)
				+serv(
					'img-3.jpg', 
					'Индивидуальные <br>тренировки',
					'Свободные <br>прыжки',
					'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
				)
				+serv(
					'img-4.jpg', 
					'Групповая тренировка <br>для детей и взрослых',
					'Групповая тренировка <br>для детей и взрослых',
					'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
				)
				+serv(
					'img-5.jpg', 
					'День рождения <br>для детей',
					'День рождения <br>для детей',
					'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
				)
				+serv(
					'img-6.jpg', 
					'Корпоративные праздники',
					'Корпоративные <br>праздники',
					'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
				)
	// end section-services
	// begin section-tariff
	section.section-tariff
		.container
			.line-wrap
				.title Наши тарифы
				.subtitle ознакомьтесь с нашим прайсом и правилами центра
			.row.tariff-wrap
				.col-lg-3.col-md-3.col-sm-3.col-xs-3.col-xxs-12
					+b.tariff
						+e.img-wrap
							img(src="../img/price-1.jpg", alt="")
							a.btn(href="#") КУПИТЬ БИЛЕТ
				.col-lg-3.col-md-3.col-sm-3.col-xs-3.col-xxs-12
					+b.tariff
						+e.img-wrap
							img(src="../img/price-2.jpg", alt="")
							a.btn(href="#") КУПИТЬ БИЛЕТ
				.col-lg-3.col-md-3.col-sm-3.col-xs-3.col-xxs-12
					+b.tariff
						+e.img-wrap
							img(src="../img/price-3.jpg", alt="")
							a.btn(href="#") КУПИТЬ БИЛЕТ
				.col-lg-3.col-md-3.col-sm-3.col-xs-3.col-xxs-12
					+b.tariff
						+e.img-wrap
							img(src="../img/price-4.jpg", alt="")
							a.btn(href="#") КУПИТЬ БИЛЕТ
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-xxs-12
					.lines-sm
						p.p.
							Мы стараемся учитывать интересы
							самых разных групп посетителей: узнайте
							о специальных тарифах для учащихся,  спортсменов, льготных категорий граждан.
						a.link(href="#" target="_blank") подробнее о специальных тарифах
					.lines-sm
						p.p.
							Чтобы занятия на арене приносили только удовольствие, изучите
						a.link(href="#" target="_blank") правила техники безопасности <br>и поведения на арене
				.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-xxs-12
					.lines-sm
						p.p.
							При первом посещении необходимо заполнить анкету джампера или согласие родителей / опекунов (для джамперов младше 18 лет). Для экономии времени, можно заполнить документы заранее 
							и передать их администратору при первом посещении.
						a.link(href="#" target="_blank") анкета джампера.pdf
						a.link(href="#" target="_blank") согласие родителей.pdf
	// end section-tariff
	// begin section-map
	section.section-map
		#map-canvas
		.container
			+b.contacts-bar
				+e.text <i class="icon-place"></i> <span>Москва, <br>ул. Исаковского, д. 12</span>
				+e.text <i class="icon-clock"></i> <span>Пн - Пт 11:00 - 19:00 <br>Сб - Вс 10:00 - 23:00</span>
				+e.text
					i.icon-phone
					+phone('8 (495) 784 76 77')
	// end section-map
	include includes/footer.pug
	//- include includes/form.pug
	//- include includes/modals.pug
	//- include includes/button-menu.pug

	
	