block config
	- var pageTitle = '111'

doctype html
include ../bemto-master/bemto.pug
include ../includes/mixins.pug
html(lang="ru")
	head
		include ../includes/head.pug
	body
		.main-wrap
			block main	
		include ../includes/scripts.pug
