
@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-300.eot');
  src: url('../fonts/MuseoCyrillic-300.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-300.woff') format('woff'),
       url('../fonts/MuseoCyrillic-300.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-300.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-500.eot');
  src: url('../fonts/MuseoCyrillic-500.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-500.woff') format('woff'),
       url('../fonts/MuseoCyrillic-500.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-500.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-700.eot');
  src: url('../fonts/MuseoCyrillic-700.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-700.woff') format('woff'),
       url('../fonts/MuseoCyrillic-700.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-700.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrillic';
  src: url('../fonts/MuseoCyrillic-900.eot');
  src: url('../fonts/MuseoCyrillic-900.woff2') format('woff2'),
       url('../fonts/MuseoCyrillic-900.woff') format('woff'),
       url('../fonts/MuseoCyrillic-900.ttf') format('truetype'),
       url('../fonts/MuseoCyrillic-900.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Acrom';
  src: url('../fonts/acrom300.eot');
  src: local('☺'), url('../fonts/acrom300.woff') format('woff'), url('../fonts/acrom300.ttf') format('truetype'), url('../fonts/acrom300.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Acrom';
  src: url('../fonts/acrom400.eot');
  src: local('☺'), url('../fonts/acrom400.woff') format('woff'), url('../fonts/acrom400.ttf') format('truetype'), url('../fonts/acrom400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Acrom';
  src: url('../fonts/acrom600.eot');
  src: local('☺'), url('../fonts/acrom600.woff') format('woff'), url('../fonts/acrom600.ttf') format('truetype'), url('../fonts/acrom600.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

