@import "_hamburgers.scss";


.hamburger {
	display: none;
	position: fixed;
	top: 60px;
	left: 20px;
	z-index: 101;
	@include breakpoint("maxsmall") {
		display: block;
	}
	@include breakpoint("mobileonly") {
		top: 40px;
		left: 14px;
	}
	&>span {
		display: block;
	}
}

.hamburger-box,
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
	@include breakpoint("mobileonly") {
		width: 28px;
	}
}
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
	@include breakpoint("mobileonly") {
		height: 3px;
	}
}

.logo-sm {
	display: none;
	margin-top: 18px;
	margin-left: 55px;
	@include breakpoint("maxsmall") {
		display: block;
	}
	@include breakpoint("mobileonly") {
		max-width: 246px;
		margin-left: 50px;
		margin-top: 18px;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.wrap-top-line {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	@include breakpoint("maxsmall") {
		background-image: url(../img/menu-bg.png);
		background-position: 140% center;
		background-repeat: no-repeat;
		top: 106px;
		transform: translate(-100%, 0%);
		transition: transform .3s ease;
		&_active {
			transform: translate(0, 0);
		}
	}
	@include breakpoint("mobileonly") {
		top: 75px;
		background-size: contain;
		background-position: 110% center;
	}
}

.top-line {
	padding: 8px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	@include breakpoint("maxsmall") {
		padding: 0;
	}

	.social-link {
		@include breakpoint("maxsmall") {
			display: none;
		}
	}
}
.social-link {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;


	li {
		// display: inline-block;
		&:not(:last-child) {
			margin-right: 11px;
		}
	}
	a {
		display: block;
	}
	i {display: block;}
}
.icon-inst {
}
.icon-fb {
}
.icon-vk {
}
.main-nav {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 64%;
	@include breakpoint("maxmedium") {
		width: 70%;
	}
	@include breakpoint("maxsmall") {
		width: 100%;
		display: block;
		padding-top: 40px;
		padding-bottom: 50px;
		padding-left: 25px;
	}
	@include breakpoint("mobileonly") {
		padding-top: 25px;
		padding-left: 15px;
		padding-bottom: 25px;
	}


	li {
		@include breakpoint("maxsmall") {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		@include breakpoint("mobileonly") {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
	a {
		text-decoration: none;
		color: #ffffff;
		font-family: $font2;
		font-size: 16px;
		font-weight: 400;

		letter-spacing: -0.96px;
		&:hover {
			color: #bafa5e;
		}

		@include breakpoint("maxsmall") {
			font-size: 24px;
			letter-spacing: -0.96px;
		}
		@include breakpoint("mobileonly") {
			font-size: 16px;
		}
	}
}
.header {
	margin-top: 40px;
	@include breakpoint("maxsmall") {
		margin-top: 0;
	}

	.icon-tr2 {
		position: absolute;
		bottom: -120px;
		left: -40px;
		@include breakpoint("maxsmall") {
			left: auto;
			right: 60px;
			bottom: -150px;
		}
		@include breakpoint("mobileonly") {
			bottom: -100px;
			right: 10px;
		}
	}
	.icon-tr1 {
		position: absolute;
		right: -50px;
		top: -75px;
		@include breakpoint("maxsmall") {
			display: none;
		}
	}

}
.wrap-header-top {
	background-color: #6fb8ed;
	@include breakpoint("maxsmall") {
		display: none;
	}
}

.header-top {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;

}
.logo-wrap {
	padding: 11px 0 12px;
}
.logo {
	display: inline-block;
	@include breakpoint("maxmedium") {
		max-width: 200px;
	}
}
.header-top-right {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 64%;
	@include breakpoint("maxmedium") {
		width: 70%;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;


		color: #ffffff;
		font-family: $font2;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: -0.32px;
		@include breakpoint("maxmedium") {
			font-size: 14px;
			line-height: 1.3;
		}
		a {
			text-decoration: none;
			color: #ffffff;
			font-size: 19px;
			@include breakpoint("maxmedium") {
				font-size: 17px;
			}
		}

		i {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			z-index: 0;
		}
		span,
		a {
			position: relative;
		}
	}
}
.header-btm {
	background: url(../img/main-image.jpg) center top no-repeat;
	background-size: cover;
	text-align: center;
	.container {
		padding-bottom: 90px;
		position: relative;	
		@include breakpoint("maxlarge") {
			padding-bottom: 60px;
		}
		@include breakpoint("maxsmall") {
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 139px;
		}
		@include breakpoint("mobileonly") {
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 90px;
		}
	}
}
.wrap-bg {
	display: inline-block;
	position: relative;
	margin-top: 190px;
	@include breakpoint("maxlarge") {
		margin-top: 140px;
	}
	@include breakpoint("maxmedium") {
		margin-top: 100px;
	}
	@include breakpoint("maxsmall") {
		margin-top: 93px;
		display: block;
	}
	@include breakpoint("mobileonly") {
		margin-top: 55px;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 60px;
		right: 60px;
		top: 0;
		bottom: 64px;
		background-color: #000000;
		opacity: 0.57;
		z-index: 0;
		@include breakpoint("maxsmall") {
			display: none;
		}
	}
	&>* {
		position: relative;
	}
}


.main-logo {
	margin-top: -68px;
	@include breakpoint("maxmedium") {
		margin-top: -50px;
	}
	@include breakpoint("maxsmall") {
		display: none;
		margin-top: 0;
	}
	img {
		@include breakpoint("maxmedium") {
			max-width: 120px;
		}
	}
}
.top-title {
	color: #ffffff;
	font-family: $font1;
	font-size: 54px;
	font-weight: 500;
	text-align: left;
	letter-spacing: -0.69px;
	margin-bottom: 15px;
	margin-top: 34px;
	@include breakpoint("maxmedium") {
		margin-top: 20px;
		font-size: 45px;
	}
	@include breakpoint("maxsmall") {
		margin-top: 0;
		font-size: 33px;
		letter-spacing: -0.69px;
		margin-bottom: 7px;
	}
	@include breakpoint("mobileonly") {
		font-size: 22px;
	}
}
.icon-logotxt {
	display: block;
	position: relative;
	left: 5px;
	@include breakpoint("maxsmall") {
		left: 0;
	}
}
.bottom-title {
	color: #ffffff;
	font-family: $font2;
	font-size: 49px;
	font-weight: 300;
	text-align: left;

	letter-spacing: -3.8px;
	margin-top: 30px;
	@include breakpoint("maxmedium") {
		margin-top: 5px;
		font-size: 35px;
	}
	@include breakpoint("maxsmall") {
		font-size: 30px;
		letter-spacing: -3.8px;
		margin-top: 20px;
	}
	@include breakpoint("mobileonly") {
		font-size: 20px;
		letter-spacing: 0;
		margin-top: 10px;
	}
}
.btn-wrap {
	background: url(../img/bg-btn.png) center top no-repeat;
	background-size: contain;
	padding: 50px 0;
	margin-top: 52px;
	@include breakpoint("maxlarge") {
		margin-top: 30px;
	}
	@include breakpoint("maxmedium") {
		padding: 30px 0;
		margin-top: 10px;
	}
	@include breakpoint("maxsmall") {
		padding: 46px 0;
		margin-top: 64px;
	}
	@include breakpoint("mobileonly") {
		padding: 33px 0;
		margin-top: 40px;
	}
}

.button {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #bbfa60;

	text-decoration: none;
	color: #000000;
	font-family: $font2;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: -1.14px;

	padding: 18px 42px;
	box-shadow: 0 3px 0 0 #83b934;
	transition: background-color .2s ease;
	&_sm {
		font-size: 16px;
		padding: 15px 27px;
	}
	&:hover {
		background-color: #6fb8ed;
		color: #fff;
		box-shadow: 0 3px 0 0 #427ca6;
	}
	&:active {
		transition: none;
		transform: translate(0, 3px);
		box-shadow: none;
	}
	@include breakpoint("maxmedium") {
		font-size: 17px;
		padding: 14px 25px;
	}
	@include breakpoint("maxsmall") {
		font-size: 18px;
		padding: 17px 42px;
	}
	@include breakpoint("mobileonly") {
		font-size: 12px;
		padding: 12px 31px;
	}
}







.links-wrap {
	position: absolute;
	right: 15px;
	bottom: -128px;
	text-align: right;
	z-index: 99;
	@include breakpoint("large") {
		right: 41px;
	}
	@include breakpoint("maxsmall") {
		display: none;
	}
}
.link-box {
	width: 61px;
	height: 57px;
	position: relative;
	cursor: pointer;
	float: right;
	clear: both;
	transition: width .2s ease;
	overflow: hidden;
	@include breakpoint("maxmedium") {
		width: 40px;
		height: 40px;
	}
	&:hover {
		width: 201px;
		i {display: none;}
		.link-box__hide {
			display: block;
		}
	}
	&:not(:last-child) {
		margin-bottom: 15px;
	}
	&_th_1 {
		background-color: #6fb8ed;
		box-shadow: 0 3px 0 0 #3372a0;
	}

	&_th_2 {
		background-color: #c53bb4;
		box-shadow: 0 3px 0 0 #64185b;
	}

	&_th_3 {
		background-color: #bbfa60;
		box-shadow: 0 3px 0 0 #4f711e;
		.link-box__hide {
			color: #000000;
		}
	}

	&__hide {
		white-space: nowrap;
		display: none;
		text-align: center;
		line-height: 57px;

		color: #ffffff;
		font-family: $font2;
		font-size: 19px;
		font-weight: 400;
		letter-spacing: -1.14px;
		@include breakpoint("maxmedium") {
			line-height: 40px;
			font-size: 17px;
		}
	}
	i {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.icon-question {
}
.icon-info {
}
.icon-cart {
}
