@import "_placeholder.scss";

// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$header-top-1-name: 'header-top_1';
$header-top-1-x: 495px;
$header-top-1-y: 363px;
$header-top-1-offset-x: -495px;
$header-top-1-offset-y: -363px;
$header-top-1-width: 115px;
$header-top-1-height: 54px;
$header-top-1-total-width: 780px;
$header-top-1-total-height: 652px;
$header-top-1-image: '../img/sprite.png';
$header-top-1: (495px, 363px, -495px, -363px, 115px, 54px, 780px, 652px, '../img/sprite.png', 'header-top_1', );
$header-top-2-name: 'header-top_2';
$header-top-2-x: 347px;
$header-top-2-y: 363px;
$header-top-2-offset-x: -347px;
$header-top-2-offset-y: -363px;
$header-top-2-width: 143px;
$header-top-2-height: 58px;
$header-top-2-total-width: 780px;
$header-top-2-total-height: 652px;
$header-top-2-image: '../img/sprite.png';
$header-top-2: (347px, 363px, -347px, -363px, 143px, 58px, 780px, 652px, '../img/sprite.png', 'header-top_2', );
$header-top-3-name: 'header-top_3';
$header-top-3-x: 169px;
$header-top-3-y: 500px;
$header-top-3-offset-x: -169px;
$header-top-3-offset-y: -500px;
$header-top-3-width: 87px;
$header-top-3-height: 58px;
$header-top-3-total-width: 780px;
$header-top-3-total-height: 652px;
$header-top-3-image: '../img/sprite.png';
$header-top-3: (169px, 500px, -169px, -500px, 87px, 58px, 780px, 652px, '../img/sprite.png', 'header-top_3', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 713px;
$icon-cart-y: 241px;
$icon-cart-offset-x: -713px;
$icon-cart-offset-y: -241px;
$icon-cart-width: 33px;
$icon-cart-height: 27px;
$icon-cart-total-width: 780px;
$icon-cart-total-height: 652px;
$icon-cart-image: '../img/sprite.png';
$icon-cart: (713px, 241px, -713px, -241px, 33px, 27px, 780px, 652px, '../img/sprite.png', 'icon-cart', );
$icon-clock-sm-name: 'icon-clock-sm';
$icon-clock-sm-x: 713px;
$icon-clock-sm-y: 0px;
$icon-clock-sm-offset-x: -713px;
$icon-clock-sm-offset-y: 0px;
$icon-clock-sm-width: 67px;
$icon-clock-sm-height: 67px;
$icon-clock-sm-total-width: 780px;
$icon-clock-sm-total-height: 652px;
$icon-clock-sm-image: '../img/sprite.png';
$icon-clock-sm: (713px, 0px, -713px, 0px, 67px, 67px, 780px, 652px, '../img/sprite.png', 'icon-clock-sm', );
$icon-clock-xs-name: 'icon-clock-xs';
$icon-clock-xs-x: 713px;
$icon-clock-xs-y: 118px;
$icon-clock-xs-offset-x: -713px;
$icon-clock-xs-offset-y: -118px;
$icon-clock-xs-width: 44px;
$icon-clock-xs-height: 44px;
$icon-clock-xs-total-width: 780px;
$icon-clock-xs-total-height: 652px;
$icon-clock-xs-image: '../img/sprite.png';
$icon-clock-xs: (713px, 118px, -713px, -118px, 44px, 44px, 780px, 652px, '../img/sprite.png', 'icon-clock-xs', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 122px;
$icon-clock-y: 363px;
$icon-clock-offset-x: -122px;
$icon-clock-offset-y: -363px;
$icon-clock-width: 100px;
$icon-clock-height: 100px;
$icon-clock-total-width: 780px;
$icon-clock-total-height: 652px;
$icon-clock-image: '../img/sprite.png';
$icon-clock: (122px, 363px, -122px, -363px, 100px, 100px, 780px, 652px, '../img/sprite.png', 'icon-clock', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 713px;
$icon-fb-y: 273px;
$icon-fb-offset-x: -713px;
$icon-fb-offset-y: -273px;
$icon-fb-width: 24px;
$icon-fb-height: 24px;
$icon-fb-total-width: 780px;
$icon-fb-total-height: 652px;
$icon-fb-image: '../img/sprite.png';
$icon-fb: (713px, 273px, -713px, -273px, 24px, 24px, 780px, 652px, '../img/sprite.png', 'icon-fb', );
$icon-info-name: 'icon-info';
$icon-info-x: 762px;
$icon-info-y: 118px;
$icon-info-offset-x: -762px;
$icon-info-offset-y: -118px;
$icon-info-width: 14px;
$icon-info-height: 27px;
$icon-info-total-width: 780px;
$icon-info-total-height: 652px;
$icon-info-image: '../img/sprite.png';
$icon-info: (762px, 118px, -762px, -118px, 14px, 27px, 780px, 652px, '../img/sprite.png', 'icon-info', );
$icon-inst-name: 'icon-inst';
$icon-inst-x: 751px;
$icon-inst-y: 241px;
$icon-inst-offset-x: -751px;
$icon-inst-offset-y: -241px;
$icon-inst-width: 24px;
$icon-inst-height: 24px;
$icon-inst-total-width: 780px;
$icon-inst-total-height: 652px;
$icon-inst-image: '../img/sprite.png';
$icon-inst: (751px, 241px, -751px, -241px, 24px, 24px, 780px, 652px, '../img/sprite.png', 'icon-inst', );
$icon-left-sm-name: 'icon-left-sm';
$icon-left-sm-x: 713px;
$icon-left-sm-y: 204px;
$icon-left-sm-offset-x: -713px;
$icon-left-sm-offset-y: -204px;
$icon-left-sm-width: 28px;
$icon-left-sm-height: 32px;
$icon-left-sm-total-width: 780px;
$icon-left-sm-total-height: 652px;
$icon-left-sm-image: '../img/sprite.png';
$icon-left-sm: (713px, 204px, -713px, -204px, 28px, 32px, 780px, 652px, '../img/sprite.png', 'icon-left-sm', );
$icon-left-name: 'icon-left';
$icon-left-x: 761px;
$icon-left-y: 302px;
$icon-left-offset-x: -761px;
$icon-left-offset-y: -302px;
$icon-left-width: 18px;
$icon-left-height: 21px;
$icon-left-total-width: 780px;
$icon-left-total-height: 652px;
$icon-left-image: '../img/sprite.png';
$icon-left: (761px, 302px, -761px, -302px, 18px, 21px, 780px, 652px, '../img/sprite.png', 'icon-left', );
$icon-logotxt-sm-name: 'icon-logotxt-sm';
$icon-logotxt-sm-x: 172px;
$icon-logotxt-sm-y: 87px;
$icon-logotxt-sm-offset-x: -172px;
$icon-logotxt-sm-offset-y: -87px;
$icon-logotxt-sm-width: 439px;
$icon-logotxt-sm-height: 51px;
$icon-logotxt-sm-total-width: 780px;
$icon-logotxt-sm-total-height: 652px;
$icon-logotxt-sm-image: '../img/sprite.png';
$icon-logotxt-sm: (172px, 87px, -172px, -87px, 439px, 51px, 780px, 652px, '../img/sprite.png', 'icon-logotxt-sm', );
$icon-logotxt-xs-name: 'icon-logotxt-xs';
$icon-logotxt-xs-x: 122px;
$icon-logotxt-xs-y: 324px;
$icon-logotxt-xs-offset-x: -122px;
$icon-logotxt-xs-offset-y: -324px;
$icon-logotxt-xs-width: 293px;
$icon-logotxt-xs-height: 34px;
$icon-logotxt-xs-total-width: 780px;
$icon-logotxt-xs-total-height: 652px;
$icon-logotxt-xs-image: '../img/sprite.png';
$icon-logotxt-xs: (122px, 324px, -122px, -324px, 293px, 34px, 780px, 652px, '../img/sprite.png', 'icon-logotxt-xs', );
$icon-logotxt-name: 'icon-logotxt';
$icon-logotxt-x: 0px;
$icon-logotxt-y: 0px;
$icon-logotxt-offset-x: 0px;
$icon-logotxt-offset-y: 0px;
$icon-logotxt-width: 708px;
$icon-logotxt-height: 82px;
$icon-logotxt-total-width: 780px;
$icon-logotxt-total-height: 652px;
$icon-logotxt-image: '../img/sprite.png';
$icon-logotxt: (0px, 0px, 0px, 0px, 708px, 82px, 780px, 652px, '../img/sprite.png', 'icon-logotxt', );
$icon-phone-sm-name: 'icon-phone-sm';
$icon-phone-sm-x: 616px;
$icon-phone-sm-y: 87px;
$icon-phone-sm-offset-x: -616px;
$icon-phone-sm-offset-y: -87px;
$icon-phone-sm-width: 68px;
$icon-phone-sm-height: 49px;
$icon-phone-sm-total-width: 780px;
$icon-phone-sm-total-height: 652px;
$icon-phone-sm-image: '../img/sprite.png';
$icon-phone-sm: (616px, 87px, -616px, -87px, 68px, 49px, 780px, 652px, '../img/sprite.png', 'icon-phone-sm', );
$icon-phone-xs-name: 'icon-phone-xs';
$icon-phone-xs-x: 713px;
$icon-phone-xs-y: 167px;
$icon-phone-xs-offset-x: -713px;
$icon-phone-xs-offset-y: -167px;
$icon-phone-xs-width: 45px;
$icon-phone-xs-height: 32px;
$icon-phone-xs-total-width: 780px;
$icon-phone-xs-total-height: 652px;
$icon-phone-xs-image: '../img/sprite.png';
$icon-phone-xs: (713px, 167px, -713px, -167px, 45px, 32px, 780px, 652px, '../img/sprite.png', 'icon-phone-xs', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 77px;
$icon-phone-y: 500px;
$icon-phone-offset-x: -77px;
$icon-phone-offset-y: -500px;
$icon-phone-width: 87px;
$icon-phone-height: 61px;
$icon-phone-total-width: 780px;
$icon-phone-total-height: 652px;
$icon-phone-image: '../img/sprite.png';
$icon-phone: (77px, 500px, -77px, -500px, 87px, 61px, 780px, 652px, '../img/sprite.png', 'icon-phone', );
$icon-place-sm-name: 'icon-place-sm';
$icon-place-sm-x: 0px;
$icon-place-sm-y: 592px;
$icon-place-sm-offset-x: 0px;
$icon-place-sm-offset-y: -592px;
$icon-place-sm-width: 80px;
$icon-place-sm-height: 60px;
$icon-place-sm-total-width: 780px;
$icon-place-sm-total-height: 652px;
$icon-place-sm-image: '../img/sprite.png';
$icon-place-sm: (0px, 592px, 0px, -592px, 80px, 60px, 780px, 652px, '../img/sprite.png', 'icon-place-sm', );
$icon-place-xs-name: 'icon-place-xs';
$icon-place-xs-x: 713px;
$icon-place-xs-y: 72px;
$icon-place-xs-offset-x: -713px;
$icon-place-xs-offset-y: -72px;
$icon-place-xs-width: 54px;
$icon-place-xs-height: 41px;
$icon-place-xs-total-width: 780px;
$icon-place-xs-total-height: 652px;
$icon-place-xs-image: '../img/sprite.png';
$icon-place-xs: (713px, 72px, -713px, -72px, 54px, 41px, 780px, 652px, '../img/sprite.png', 'icon-place-xs', );
$icon-place-name: 'icon-place';
$icon-place-x: 227px;
$icon-place-y: 363px;
$icon-place-offset-x: -227px;
$icon-place-offset-y: -363px;
$icon-place-width: 115px;
$icon-place-height: 86px;
$icon-place-total-width: 780px;
$icon-place-total-height: 652px;
$icon-place-image: '../img/sprite.png';
$icon-place: (227px, 363px, -227px, -363px, 115px, 86px, 780px, 652px, '../img/sprite.png', 'icon-place', );
$icon-question-name: 'icon-question';
$icon-question-x: 713px;
$icon-question-y: 302px;
$icon-question-offset-x: -713px;
$icon-question-offset-y: -302px;
$icon-question-width: 20px;
$icon-question-height: 27px;
$icon-question-total-width: 780px;
$icon-question-total-height: 652px;
$icon-question-image: '../img/sprite.png';
$icon-question: (713px, 302px, -713px, -302px, 20px, 27px, 780px, 652px, '../img/sprite.png', 'icon-question', );
$icon-right-sm-name: 'icon-right-sm';
$icon-right-sm-x: 746px;
$icon-right-sm-y: 204px;
$icon-right-sm-offset-x: -746px;
$icon-right-sm-offset-y: -204px;
$icon-right-sm-width: 28px;
$icon-right-sm-height: 32px;
$icon-right-sm-total-width: 780px;
$icon-right-sm-total-height: 652px;
$icon-right-sm-image: '../img/sprite.png';
$icon-right-sm: (746px, 204px, -746px, -204px, 28px, 32px, 780px, 652px, '../img/sprite.png', 'icon-right-sm', );
$icon-right-name: 'icon-right';
$icon-right-x: 713px;
$icon-right-y: 334px;
$icon-right-offset-x: -713px;
$icon-right-offset-y: -334px;
$icon-right-width: 18px;
$icon-right-height: 21px;
$icon-right-total-width: 780px;
$icon-right-total-height: 652px;
$icon-right-image: '../img/sprite.png';
$icon-right: (713px, 334px, -713px, -334px, 18px, 21px, 780px, 652px, '../img/sprite.png', 'icon-right', );
$icon-right-name: 'icon-right';
$icon-right-x: 738px;
$icon-right-y: 302px;
$icon-right-offset-x: -738px;
$icon-right-offset-y: -302px;
$icon-right-width: 18px;
$icon-right-height: 21px;
$icon-right-total-width: 780px;
$icon-right-total-height: 652px;
$icon-right-image: '../img/sprite.png';
$icon-right: (738px, 302px, -738px, -302px, 18px, 21px, 780px, 652px, '../img/sprite.png', 'icon-right', );
$icon-tr1-sm-name: 'icon-tr1-sm';
$icon-tr1-sm-x: 0px;
$icon-tr1-sm-y: 500px;
$icon-tr1-sm-offset-x: 0px;
$icon-tr1-sm-offset-y: -500px;
$icon-tr1-sm-width: 72px;
$icon-tr1-sm-height: 87px;
$icon-tr1-sm-total-width: 780px;
$icon-tr1-sm-total-height: 652px;
$icon-tr1-sm-image: '../img/sprite.png';
$icon-tr1-sm: (0px, 500px, 0px, -500px, 72px, 87px, 780px, 652px, '../img/sprite.png', 'icon-tr1-sm', );
$icon-tr1-name: 'icon-tr1';
$icon-tr1-x: 320px;
$icon-tr1-y: 143px;
$icon-tr1-offset-x: -320px;
$icon-tr1-offset-y: -143px;
$icon-tr1-width: 139px;
$icon-tr1-height: 143px;
$icon-tr1-total-width: 780px;
$icon-tr1-total-height: 652px;
$icon-tr1-image: '../img/sprite.png';
$icon-tr1: (320px, 143px, -320px, -143px, 139px, 143px, 780px, 652px, '../img/sprite.png', 'icon-tr1', );
$icon-tr2-sm-name: 'icon-tr2-sm';
$icon-tr2-sm-x: 590px;
$icon-tr2-sm-y: 143px;
$icon-tr2-sm-offset-x: -590px;
$icon-tr2-sm-offset-y: -143px;
$icon-tr2-sm-width: 111px;
$icon-tr2-sm-height: 98px;
$icon-tr2-sm-total-width: 780px;
$icon-tr2-sm-total-height: 652px;
$icon-tr2-sm-image: '../img/sprite.png';
$icon-tr2-sm: (590px, 143px, -590px, -143px, 111px, 98px, 780px, 652px, '../img/sprite.png', 'icon-tr2-sm', );
$icon-tr2-name: 'icon-tr2';
$icon-tr2-x: 0px;
$icon-tr2-y: 87px;
$icon-tr2-offset-x: 0px;
$icon-tr2-offset-y: -87px;
$icon-tr2-width: 167px;
$icon-tr2-height: 232px;
$icon-tr2-total-width: 780px;
$icon-tr2-total-height: 652px;
$icon-tr2-image: '../img/sprite.png';
$icon-tr2: (0px, 87px, 0px, -87px, 167px, 232px, 780px, 652px, '../img/sprite.png', 'icon-tr2', );
$icon-tr3-name: 'icon-tr3';
$icon-tr3-x: 172px;
$icon-tr3-y: 143px;
$icon-tr3-offset-x: -172px;
$icon-tr3-offset-y: -143px;
$icon-tr3-width: 143px;
$icon-tr3-height: 152px;
$icon-tr3-total-width: 780px;
$icon-tr3-total-height: 652px;
$icon-tr3-image: '../img/sprite.png';
$icon-tr3: (172px, 143px, -172px, -143px, 143px, 152px, 780px, 652px, '../img/sprite.png', 'icon-tr3', );
$icon-tr4-name: 'icon-tr4';
$icon-tr4-x: 464px;
$icon-tr4-y: 143px;
$icon-tr4-offset-x: -464px;
$icon-tr4-offset-y: -143px;
$icon-tr4-width: 121px;
$icon-tr4-height: 127px;
$icon-tr4-total-width: 780px;
$icon-tr4-total-height: 652px;
$icon-tr4-image: '../img/sprite.png';
$icon-tr4: (464px, 143px, -464px, -143px, 121px, 127px, 780px, 652px, '../img/sprite.png', 'icon-tr4', );
$icon-tr5-name: 'icon-tr5';
$icon-tr5-x: 0px;
$icon-tr5-y: 324px;
$icon-tr5-offset-x: 0px;
$icon-tr5-offset-y: -324px;
$icon-tr5-width: 117px;
$icon-tr5-height: 171px;
$icon-tr5-total-width: 780px;
$icon-tr5-total-height: 652px;
$icon-tr5-image: '../img/sprite.png';
$icon-tr5: (0px, 324px, 0px, -324px, 117px, 171px, 780px, 652px, '../img/sprite.png', 'icon-tr5', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 742px;
$icon-vk-y: 273px;
$icon-vk-offset-x: -742px;
$icon-vk-offset-y: -273px;
$icon-vk-width: 24px;
$icon-vk-height: 24px;
$icon-vk-total-width: 780px;
$icon-vk-total-height: 652px;
$icon-vk-image: '../img/sprite.png';
$icon-vk: (742px, 273px, -742px, -273px, 24px, 24px, 780px, 652px, '../img/sprite.png', 'icon-vk', );
$spritesheet-width: 780px;
$spritesheet-height: 652px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($header-top-1, $header-top-2, $header-top-3, $icon-cart, $icon-clock-sm, $icon-clock-xs, $icon-clock, $icon-fb, $icon-info, $icon-inst, $icon-left-sm, $icon-left, $icon-logotxt-sm, $icon-logotxt-xs, $icon-logotxt, $icon-phone-sm, $icon-phone-xs, $icon-phone, $icon-place-sm, $icon-place-xs, $icon-place, $icon-question, $icon-right-sm, $icon-right, $icon-right, $icon-tr1-sm, $icon-tr1, $icon-tr2-sm, $icon-tr2, $icon-tr3, $icon-tr4, $icon-tr5, $icon-vk, );
$spritesheet: (780px, 652px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
$sprite-offset-x: nth($sprite, 3);
$sprite-offset-y: nth($sprite, 4);
background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
$sprite-image: nth($sprite, 9);
background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}




// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
@each $sprite in $sprites {
$sprite-name: nth($sprite, 10);

$slice: #{$sprite-name};
@if str-index($slice, '-hmd') {
$sliceq: str-slice( #{$sprite-name}, 0, -5);
$slice: str-insert($sliceq, ':hover', -1);
} @else if str-index($slice, '-hxs') {
$sliceq: str-slice( #{$sprite-name}, 0, -5);
$slice: str-insert($sliceq, ':hover', -1);
} @else if str-index($slice, '-hover') {
$sliceq: str-slice( #{$sprite-name}, 0, -7);
$slice: str-insert($sliceq, ':hover', -1);
} @else if str-index($slice, '-lg') {
$slice: str-slice( #{$sprite-name}, 0, -4);
} @else if str-index($slice, '-md') {
$slice: str-slice( #{$sprite-name}, 0, -4);
} @else if str-index($slice, '-sm') {
$slice: str-slice( #{$sprite-name}, 0, -4);
} @else if str-index($slice, '-xs') {
$slice: str-slice( #{$sprite-name}, 0, -4);
}



.#{$slice} {
@if ( str-index( #{$sprite-name}, '-hmd') ) {
@include breakpoint("maxmedium") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-hxs') ) {
@include breakpoint("mobileonly") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-hover') ) {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
} @else if ( str-index( #{$sprite-name}, '-lg') ) {
@include breakpoint("maxlarge") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-md') ) {
@include breakpoint("maxmedium") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-sm') ) {
@include breakpoint("maxsmall") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-xs') ) {
@include breakpoint("mobileonly") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else {
@include sprite($sprite);
}
}
}
}

@include sprites($spritesheet-sprites);
