@import "_fonts.scss";
@import "_variables.scss";
@import "_placeholder.scss";
@import "_normalize.scss";
@import "_bootstrap.scss";
@import "_base.scss";
@import "_sprite.scss";

// @import "_jquery.mCustomScrollbar.scss";


// @import "_play-button.scss";
// @import "_up-button.scss";
// @import "_popup.scss";

@import "_header.scss";
@import "_footer.scss";
// @import "_form.scss";

// @import "_grid-custom.scss";

@import "_slick.scss";
@import "_slick-theme.scss";

@import "_fancybox.scss";
// @import "_ripple-effect.scss";
// @import "_skew.scss";



i {
	display: inline-block;
}

img {
	max-width: 100%;
	height: auto;
}




.section-entertainment {
	background-color: #171717;
	background-image: url(../img/tr.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 97px;
	padding-bottom: 108px;
	@include breakpoint("maxlarge") {
		padding-bottom: 60px;
	}
	@include breakpoint("maxmedium") {
		padding-top: 59px;
		padding-bottom: 50px;
	}
	@include breakpoint("maxsmall") {
		background-color: #000;
	}
}

.line-wrap {
	position: relative;
	padding-left: 77px;
	@include breakpoint("maxsmall") {
		padding-left: 62px;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 33px;
		left: 0;
		width: 46px;
		height: 10px;
		background-color: #6fb8ed;
		@include breakpoint("maxsmall") {
			width: 38px;
			height: 8px;
			top: 27px;
		}
	}
}

.title {
	color: #ffffff;
	font-family: $font1;
	font-size: 64px;
	font-weight: 900;
	line-height: 1;
	letter-spacing: -1.28px;
	@include breakpoint("maxlarge") {
		font-size: 55px;
	}
	@include breakpoint("maxmedium") {
		font-size: 45px;
	}
	@include breakpoint("maxsmall") {
		font-size: 52px;
	}
}
.subtitle {
	color: #ffffff;
	font-family: $font2;
	font-size: 24px;
	font-weight: 300;

	letter-spacing: -0.48px;
	@include breakpoint("maxmedium") {
		font-size: 22px;
	}
	@include breakpoint("maxsmall") {
		font-size: 20px;
	}
}
.tabs-wrap {
	margin-top: 67px;
	@include breakpoint("maxmedium") {
		margin-top: 53px;
	}
}
.tabs-caption {
	@include breakpoint("small") {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0 -5px;
	}
	@include breakpoint("maxsmall") {
		text-align: center;
	}
	&__img {
		display: none;
		@include breakpoint("small") {
			display: block;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			position: absolute;

			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% 100%;
			opacity: .42;

		}
	}
	&__itm {
		cursor: pointer;
		position: relative;
		@include breakpoint("small") {
			background-color: #171717;
			width: calc(20% - 10px);
			height: 102px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;

			margin: 0 5px 10px;
			&:hover {
				.tabs-caption__img {
					background: #bbfa60 !important;
					opacity: 1;
				}
				.tabs-caption__txt {
					font-weight: 400;
					color: #000;
				}
			}
		}
		@include breakpoint("maxmedium") {
			width: calc(25% - 10px);
		}
		@include breakpoint("maxsmall") {
			width: auto;
			display: inline-block;
			vertical-align: top;
			margin: 0 10px 8px;
		}

	}

	&__txt {
		position: relative;
		text-align: center;
		color: #ffffff;
		font-family: $font2;
		font-size: 19px;
		font-weight: 300;

		letter-spacing: -0.38px;
		@include breakpoint("maxlarge") {
			font-size: 16px;
		}
		@include breakpoint("maxsmall") {
			font-size: 26px;
			white-space: nowrap;
			br {display: none;}
			border-bottom: 1px solid #fff;
			&:hover {
				color: #bbfa60;
				border-bottom-color: #bbfa60;
			}
		}
	}
}







.tabs-content-wrap {
	margin-top: 82px;
	@include breakpoint("maxlarge") {
		margin-top: 60px;
	}
	@include breakpoint("maxmedium") {
		margin-top: 30px;
	}
	@include breakpoint("maxsmall") {
		margin-top: 72px;
	}
}
.tab-content {
	@include breakpoint("maxsmall") {
		*zoom: 1;
		&:before, &:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
	}
}
.col-xxs-12 {
}
.minspr0 {
}
.img-tab {
	@include breakpoint("maxsmall") {
		display: block;
		margin-left: auto;	
		margin-right: auto;
	}
}
.content-tab {
	position: relative;
	@include breakpoint("small") {
		padding-left: 27px;
	}
	@include breakpoint("maxsmall") {
		margin-top: 44px;
	}
	&__title {
		color: #ffffff;
		font-family: $font2;
		font-size: 26px;
		font-weight: 400;
		letter-spacing: -0.52px;
		line-height: 27.86px;

		margin-top: 8px;
		margin-bottom: 35px;
		position: relative;
		@include breakpoint("maxlarge") {
			margin-top: 2px;
			font-size: 22px;
			line-height: 1.2;
			margin-bottom: 25px;
		}
		@include breakpoint("maxmedium") {
			br {display: none;}
		}
		@include breakpoint("maxsmall") {
			font-size: 36px;
			padding-bottom: 53px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url(../img/wave.png) center top no-repeat;
			width: 65px;
			height: 24px;
			right: 100%;
			top: 100%;
			margin-top: 6px;
			@include breakpoint("maxlarge") {
				margin-top: 1px;
			}
			@include breakpoint("maxsmall") {
				right: auto;
				left: 0;
				margin-top: 0;
				background: url(../img/wave-sm.png) center top no-repeat;
				width: 83px;
				height: 30px;
				top: auto;
				bottom: 0;
			}
		}
	}

	&__text {
		color: #ffffff;
		font-family: $font2;
		font-size: 16px;
		font-weight: 300;

		letter-spacing: -0.32px;
		line-height: 25.86px;
		@include breakpoint("maxlarge") {
			line-height: 1.2;
		}
		@include breakpoint("maxmedium") {
			font-size: 14px;
		}
		@include breakpoint("maxsmall") {
			font-size: 23px;
			line-height: 37.87px;
		}
	}
}



.slick-track {
	@include breakpoint("small") {
		margin: 0 -2px;
	}
}


.main-slider {
	margin-top: 138px;
	@include breakpoint("maxlarge") {
		margin-top: 100px;
	}
	@include breakpoint("maxmedium") {
		margin-top: 50px;
	}
	@include breakpoint("maxsmall") {
		margin-top: 80px;
	}
}
.main-slider-item {
	@include breakpoint("small") {
		margin: 0 2px;
	}
	img {
		@include breakpoint("maxsmall") {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.video-wrap {
	display: inline-block;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background: url(../img/lines.png) center top no-repeat;
		width: 1053px;
		height: 357px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include breakpoint("maxlarge") {
			width: 900px;
		}
		@include breakpoint("maxmedium") {
			width: 700px;
		}
		@include breakpoint("maxsmall") {
			display: none;
		}
	}
	iframe {
		position: relative;
	}
	.button-play {
		// pointer-events: none;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url(../img/play1.png) center top no-repeat;
		width: 116px;
		height: 116px;
	}
}








.section-video {
	position: relative;
	background-color: #000;
	padding: 0px 0 99px;
	@include breakpoint("maxlarge") {
		padding-bottom: 70px;
	}
	@include breakpoint("maxsmall") {
		padding-bottom: 85px;
	}
	.container {
		padding-top: 74px;
		position: relative;
		@include breakpoint("maxmedium") {
			padding-top: 50px;
		}
		@include breakpoint("maxsmall") {
			padding-top: 65px;
		}
	}
	.icon-tr1 {
		display: none;
		position: absolute;
		right: 20px;
		bottom: 0;
		z-index: 4;
		@include breakpoint("maxsmall") {
			display: block;
		}
	}
	.icon-tr3 {
		position: absolute;
		top: -20px;
		right: 135px;
		@include breakpoint("large") {
			right: 160px;
		}
		@include breakpoint("maxmedium") {
			right: 30px;
		}
		@include breakpoint("maxsmall") {
			display: none;
		}
	}
	.video-wrap {
		margin-top: 70px;
		iframe {
			max-width: 100%;
			@include breakpoint("maxmedium") {
				height: 300px;
			}
		}
		@include breakpoint("maxmedium") {
			margin-top: 50px;
		}
		@include breakpoint("maxmedium") {
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}







.section-services {
	background-color: #171717;
	padding: 0px 0 85px;
	// overflow: hidden;
	@include breakpoint("maxlarge") {
		padding-bottom: 50px;
	}
	@include breakpoint("maxmedium") {
		padding-bottom: 10px;
	}
	@include breakpoint("maxsmall") {
		background-color: #000;
		padding-bottom: 50px;
	}
	.container {
		position: relative;
		padding-top: 96px;
		@include breakpoint("maxmedium") {
			padding-top: 50px;
		}
	}
	.icon-tr2 {
		position: absolute;
		right: 15px;
		top: -50px;
		@include breakpoint("large") {
			right: 35px;
		}
		@include breakpoint("maxsmall") {
			display: none;
		}
	}
}



.tr-lg {
	background: url(../img/serv-bg.png) center top no-repeat;
	width: 853px;
	height: 880px;
	left: -193px;
	top: 100px;
	position: absolute;
	max-width: 100%;
}


.wrap-services {
	margin-left: -3px;
	margin-right: -3px;
	margin-top: 73px;
	@include breakpoint("maxmedium") {
		margin-top: 50px;
	}
	&>* {
		padding-left: 3px;
		padding-right: 3px;
		margin-bottom: 60px;
		&:nth-child(3n+1) {
			clear: left;
		}
		@include breakpoint("maxsmall") {
			&.active {display: block;}
			display: none;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				display: block;
			}
		}
	}
}

.show-more {
	display: inline-block;
	font-size: 20px;
	color: #bbfa60;
	letter-spacing: -0.34px;
	border-bottom: 1px solid #bbfa60;
	@include breakpoint("small") {
	      display: none;
	}
}

.services {
	position: relative;
	@include breakpoint("maxsmall") {
		width: 369px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	&__img {
	}

	&__title {
		color: #ffffff;
		font-family: $font2;
		font-size: 22px;
		font-weight: 400;
		line-height: 29.86px;

		letter-spacing: -0.44px;
		margin-top: 23px;
		padding-left: 23px;
		@include breakpoint("maxmedium") {
			font-size: 18px;
			line-height: 1.2;
			margin-top: 15px;
			padding-left: 10px;
		}
		@include breakpoint("maxsmall") {
			font-size: 26px;
			margin-top: 25px;
		}
	}

	&__details {
		border-bottom: 1px solid #afafae;
		display: inline-block;
		margin-top: 15px;
		cursor: pointer;
		color: #afafae;
		font-family: $font2;
		font-size: 17px;
		font-weight: 300;
		letter-spacing: -0.34px;
		margin-left: 90px;
		position: relative;
		@include breakpoint("maxmedium") {
			margin-left: 77px;
			font-size: 15px;
		}
		@include breakpoint("maxsmall") {
			font-size: 20px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			background: url(../img/wave2.png) center top no-repeat;
			width: 57px;
			height: 22px;
			right: 100%;
			margin-right: 10px;
			@include breakpoint("maxsmall") {
				background: url(../img/wave.png) center top no-repeat;
				width: 65px;
				height: 24px;
			}
		}

	}
}


.hide-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #ffffff;
	padding: 34px 20px;
	transform: translate(0, -100%);
	opacity: 0;
	visibility: hidden;
	transition: all .25s ease;
	@include breakpoint("maxlarge") {
		padding: 20px 15px;
	}
	@include breakpoint("maxsmall") {
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
		    padding-top: 50px;
	}
	&_active {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
		z-index: 2;
		@include breakpoint("maxsmall") {
			position: relative;
		}
	}
	&__top {
		color: #118ce5;
		font-family: $font2;
		font-size: 22px;
		font-weight: 600;
		line-height: 24.86px;

		letter-spacing: -0.44px;
		margin-bottom: 20px;
		@include breakpoint("maxlarge") {
			margin-bottom: 10px;
			font-size: 20px;
			line-height: 1.2;
		}
		@include breakpoint("maxsmall") {
			display: none;
		}
	}

	&__bottom {
		color: #171717;
		font-family: $font2;
		font-size: 15px;
		font-weight: 400;
		line-height: 23px;

		letter-spacing: -0.3px;
		@include breakpoint("maxlarge") {
			line-height: 1.3;
		}
		@include breakpoint("maxmedium") {
			font-size: 12px;
		}
		@include breakpoint("maxsmall") {
			color: #fff;
			font-size: 23px;
			line-height: 30.87px;
		}
	}
	.button {
		margin-top: 28px;
		@include breakpoint("maxlarge") {
			margin-top: 20px;
		}
	}
}
.close-btn {
	position: absolute;
	top: 12px;
	right: 12px;
	background: url(../img/close1.png) center top no-repeat;
	width: 15px;
	height: 15px;
	cursor: pointer;
	@include breakpoint("maxsmall") {
		display: none;
	}
}



.section-tariff {
	background-color: #171717;
	background-image: url(../img/tariff.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 96px 0 144px;
	@include breakpoint("maxlarge") {
		padding: 70px 0 100px;
	}
	@include breakpoint("maxmedium") {
		padding: 50px 0;
	}
	@include breakpoint("maxsmall") {
		padding-bottom: 90px;
		    padding-top: 36px;
	}
	.p {
		margin-bottom: 20px;
	}
	.link {
		&~.link {
			display: inline-block;
			margin-left: 30px;
			@include breakpoint("maxmedium") {
				margin-left: 0px;
				margin-top: 10px;
			}
		}
	}
}


.tariff-wrap {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 32px;
	margin-top: 94px;
	@include breakpoint("maxlarge") {
		margin-top: 60px;
		margin-bottom: 20px;
	}
	@include breakpoint("maxmedium") {
		margin-left: -5px;
		margin-right: -5px;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	@include breakpoint("maxsmall") {
		text-align: center;
	}
	&>* {
		padding-left: 10px;
		padding-right: 10px;
		@include breakpoint("maxmedium") {
			padding-left: 5px;
			padding-right: 5px;
		}
		@include breakpoint("maxsmall") {
			&:last-child {
				.tariff {
					margin-bottom: 0;
				}
			}
		}
	}
}
.col-xxs-12 {
}
.tariff {
	display: inline-block;
	@include breakpoint("maxsmall") {
		margin-bottom: 50px;
	}
	&__img-wrap {
		position: relative;
		.btn {
			position: absolute;
			bottom: 28px;
			width: 162px;
			left: 0;
			right: 0;
			margin-right: auto;
			margin-left: auto;
			@include breakpoint("maxlarge") {
				bottom: 15px;
			}
			@include breakpoint("maxmedium") {
				width: 150px;
				bottom: 8px;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			@include breakpoint("maxsmall") {
				bottom: 42px;
				width: 245px;
				font-size: 24px;
				padding-top: 16px;
				padding-bottom: 16px;
			}
		}
	}
}
.btn {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: 1px solid #ffffff;
	padding: 10px 15px;

	color: #ffffff;
	font-family: $font2;
	font-size: 16px;
	font-weight: 400;

	letter-spacing: -1.02px;
	&:hover {
		background-color: #ffffff;
		color: #6fb8ed;
		font-weight: 600;
	}
}






.lines-sm {
	padding-left: 77px;
	background: url(../img/wave2.png) left top no-repeat;
	margin-top: 40px;
	@include breakpoint("maxmedium") {
		padding-left: 65px;
		margin-top: 20px;
	}
	@include breakpoint("maxsmall") {
		margin-top: 35px;
		padding-left: 0;
		padding-top: 30px;
		p {
			display: none;
		}
	}
	&_br {
		.p {
			display: block;
		}
		br {
			display: none;
		}
	}
}

.p {
	color: #ffffff;
	font-family: $font2;
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;

	letter-spacing: -0.34px;
	@include breakpoint("maxmedium") {
		font-size: 14px;
		line-height: 1.3;
	}
	@include breakpoint("maxsmall") {
		font-size: 26px;
		line-height: 31.57px;
	}
}

.link {
	color: #bbfa60;
	border-bottom: 1px solid #bbfa60;
	font-family: $font2;
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: -0.34px;
	position: relative;
	z-index: 5;
	@include breakpoint("maxlarge") {
		font-size: 15px;
	}
	@include breakpoint("maxmedium") {
		font-size: 14px;
	}
	@include breakpoint("maxsmall") {
		font-size: 26px;
	}
}

.section-map {
	position: relative;
	height: 400px;
	@include breakpoint("maxlarge") {
		height: 330px;
	}
	@include breakpoint("maxmedium") {
		height: 280px;
	}
	@include breakpoint("maxsmall") {
		padding-top: 460px;
		height: auto;
	}
	.container {
		height: 100%;
		position: relative;
		@include breakpoint("maxsmall") {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.icon-tr4 {
		z-index: 4;
		position: absolute;
		left: -10px;
		top: -70px;
		@include breakpoint("maxsmall") {
			display: none;
		}
	}
}

#map-canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	@include breakpoint("maxsmall") {
		height: 460px;
		top: 0;
		bottom: auto;
	}
}

[class*="ymaps-2"][class*="-ground-pane"]{
	filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter:grayscale(100%);
}

.contacts-bar {
	background-color: #323333;
	position: absolute;
	z-index: 3;
	right: 109px;
	top: -20px;
	bottom: -20px;
	width: 250px;
	@include breakpoint("maxmedium") {
		right: 40px;
	}
	@include breakpoint("maxsmall") {
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding-left: 40px;
	}

	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
		border: 20px solid transparent;
		@include breakpoint("maxsmall") {
			display: none !important;
		}
	}
	&:before {
		border-left: 13px solid #bbfa60;
		border-right-width: 0;
		border-bottom-width: 0;
		left: 100%;
		top: 0;
	}
	&:after {
		border-left: 13px solid #bbfa60;
		border-right-width: 0;
		border-top-width: 0;
		left: 100%;
		bottom: 0;
	}

}





.contacts-bar {
	padding-left: 35px;
	padding-top: 55px;
	@include breakpoint("maxlarge") {
		padding-top: 40px;
	}
	@include breakpoint("maxmedium") {
		padding-top: 20px;
	}
	@include breakpoint("maxsmall") {
		padding-top: 45px;
		padding-bottom: 70px;
	}
	&__text {
		display: inline-block;
		position: relative;
		color: #ffffff;
		font-family: $font2;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;

		letter-spacing: -0.32px;
		&:not(:last-child) {
			margin-bottom: 101px;
			@include breakpoint("maxlarge") {
				margin-bottom: 80px;
			}
			@include breakpoint("maxsmall") {
				margin-bottom: 40px;
			}
		}
		@include breakpoint("maxsmall") {
			display: block;
			position: relative;
			padding-left: 90px;
			font-size: 24px;
			line-height: 31.57px;
		}
		span {
			position: relative;
			z-index: 1;
		}
		i {
			position: absolute;
			top: -16px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			@include breakpoint("maxsmall") {
				left: 0;
				right: auto;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
	}
	a {
		position: relative;
		z-index: 1;
		text-decoration: none;
		color: #ffffff;
		font-family: $font2;
		font-size: 19px;
		font-weight: 400;

		letter-spacing: -0.38px;
		@include breakpoint("maxsmall") {
			font-size: 29px;
		}
	}
}


.js-after {
	position: relative;
	&:after {
		content: attr(data-call);
		display: block;
		position: absolute;
		top: 100%;
		right: 0;
		font-size: 27px;
		color: #bbfa60;
		border-bottom: 1px solid #bbfa60;
		@include breakpoint("small") {
		      display: none;
		}
	}
}